
    <div class="jumbotron jumbotron-fluid splash">
        <div class="container ">
            <div class="">
                <h1 class="display-4 text-center">API Search - 5E SRD Edition</h1>
                <p class="lead text-center">A simple Rails application that searches the 5th Edition SRD for Dungeons and Dragons.</p>
                <p class="text-center"><%= %> total monsters and counting... <%= link_to("Add More!", "") %></p>

                <form class="form-inline mx-auto splash-search" style="width: 300px;">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
